<center><h1>Editar Alumno</h1></center>

<center><%= render 'form', alumno: @alumno %></center>

<center><%= link_to 'Mostrar', @alumno %> |</center>
<center><%= link_to 'Regresar', alumnos_path %></center>
