<center><h1>Editar Profesore</h1></center>

<center><%= render 'form', profesore: @profesore %></center>

<center><%= link_to 'Mostrar', @profesore %> |</center>
<center><%= link_to 'Regresar', profesores_path %></center>
