
<h1 align="center">Bienvenidos</h1>
<body>
	<div class="container">
		<br>
		<div class="col-md-12">
						<img src="https://c1.staticflickr.com/9/8115/8868186087_791b00c0d7_b.jpg" class="img-responsive">
			</div>
		</div>
	</div>
		
</body>